# 项目排除路径
/01.servlet/target/
/02.spingmvc/target/
/03.annotation/target/
/04.controller/target/
/05-json/target/
/Code_exercise/12/12-01/target/
/Code_exercise/12/12-02/target/
/Code_exercise/12/12-03/target/
/Code_exercise/12/12-04/target/
/Code_exercise/12/12-05/target/
/Code_exercise/12/12-06/target/
/Code_exercise/12/12-07/target/
/Code_exercise/12/12-08/target/
/Code_exercise/12/12-09/target/
/Code_exercise/12/12-10/target/
/Code_exercise/12/12-12/target/
/Code_exercise/12/12-13/target/
/Code_exercise/12/12-14/target/
/Code_exercise/12/12-15/target/
/Code_exercise/12/12-16/target/
/Code_exercise/12/12-17/target/
/Code_exercise/13/13-01/target/
/Code_exercise/13/13-02/target/
/Code_exercise/13/13-03/target/
/Code_exercise/13/13-04/target/
/Code_exercise/13/13-5/target/
/Code_exercise/13/13-07/target/
/Code_exercise/13/13-08/target/
/Code_exercise/13/13-09/target/
/Code_exercise/13/13-10/target/
/Code_exercise/13/13-11/target/
/Code_exercise/13/13-12/target/
/Code_exercise/13/13-13/target/
/Code_exercise/13/13-14/target/
/Code_exercise/13/13-15/target/
/Code_exercise/13/1306/target/
/Code_exercise/test_2/target/
/design_/target/
/out/